*{
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Header Area */
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 80px;
  padding: 0 50px;
  background-color: rgb(227, 247, 227);
}
.appLogo{
  /* position: absolute; */
  margin-right: 15px;
  width:70px;
  margin-left:180px
}
.appName{
  color: #dd4104dc;
  font-weight: bold;
  font-size:1.5rem
}
.userLogin{
  display:flex;
  gap:20px;
  color: rgb(161, 108, 10);
  margin-right:180px
}
.userLogin a:hover{
  color: #0077cc;
  text-decoration:underline
}

/* hero image */
.heroimg{
  min-height: 120vh;
  background-image: url('./assets/images/hero_img/hero_img4.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  display:flex;
  justify-content:center;
  position:relative;
  color: white;
  text-align: center;
}
/* creating overlay */
.heroimg::before{
  content:"";
  position:absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background:rgba(0,0,0,0.4);
  z-index:1;
}

/* textabove overlay */
.hero-content{
  position: relative;
  z-index:2;
}
/* searchForm */

.searchForm input[type="search"]{
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius:25px;
  position: relative;
  z-index: 3;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
/* searchBtn */
.searchBtn{
  background: rgb(227, 247, 227);
  border: none;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  z-index: 3;
  
}
.searchForm{
  margin-top: 150px;
}
.searchForm button:hover{

  background-color: #048370;
  box-shadow: 0 4px px rgba(0,0,0,0.9);
}
.Slogan{
  position: relative;
  z-index: 3;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  max-width:15ch;
  text-align: center;
  margin:20px auto;
  box-shadow: 0 4px px rgba(0,0,0,0.9);
}
